/capa.bbl
/capa.blg
/relatorio.aux
/relatorio.brf
/relatorio.glg
/relatorio.glo
/relatorio.gls
/relatorio.idx
/relatorio.lof
/relatorio.log
/relatorio.pdf
/relatorio.synctex.gz
/relatorio.toc
/relatorio.bbl
/relatorio.blg
/relatorio.ist
/relatorio.lot
/relatorio.out
/fontes.bib.bak
/fontes.bib.sav
